.card{
    border: solid white 0.1rem;
    border-radius: 0.5rem;
    padding: 1rem;
    transition: all 0.1s;
    cursor: pointer;
}
  
  .card:hover{
    box-shadow: 0.2rem 0.2rem white;
    translate: -0.2rem -0.2rem;
  }
  
  .card > img {
    border-radius: 1rem;
    height: 15.6rem;
    width: 15.6rem;
  }
  
  .card > h2{
    font-size: 2rem;
    border-left: 0.3rem solid rgb(107, 42, 151);
  }

  .tag-list{
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin-bottom: 1rem;
  }
  
